body {
    background-color: rgb(182, 117, 244);
    text-align: center;
}

.container{
    background-color: white;
    border: 2px solid black;
    margin: 100px 500px 100px 500px ;
    border-radius: 10px;
    box-shadow: inset 20px 0px 0px 0px black;
}


.cute{
border-radius: 10px;
margin: 10px 10px 10px 10px;
width: 300px 400px 300px 400px;
}
.abt {
  text-indent: 300px;
  size-adjust: 30px; 
 color: rgb(130, 214, 4);
 size: 10px;
}
.jackie{
    text-indent: -300px;
    color: palevioletred;
}
.fukie{
    size: 5px;
    color: rgb(70, 85, 85);
    text-indent: 30px;
}